#copyButton,
#checkButton,
#searchButtonOrigin,
#searchButtonTarget {
    -fx-background-color: #2C666E;
    -fx-background-radius: 120;
}

#copyButton:hover,
#checkButton:hover,
#searchButtonOrigin:hover,
#searchButtonTarget:hover {
    -fx-background-color: #39757F;
}

#checkProgressIndicator .percentage {
    -fx-fill: BLACK;
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 14;
}

#errorsBox {
    -fx-background-color: #07393C;
    -fx-text-fill: RED;
    -fx-border-color: #2C666E;
    -fx-border-width: 2px;
}

#errorsBox .content {
    -fx-background-color: #07393C;
}
